<launch>

    <!-- 迷你机器人，基础参数 -->
    <arg name="robot_name" default="qingzhou" />
    <arg name="scan_topic" default="scan" />
    <arg name="odom_topic" default="odom" />
    <arg name="cmd_vel_topic" default="cmd_vel" />
    <arg name="map_topic" default="map" />
    <arg name="plan_topic" default="/$(arg robot_name)/global_plan" /> 

    <!-- AMCL定位算法，基础参数(机器人初始位置) -->
    <arg name="initial_pose_x"  default="0.0"/>
    <arg name="initial_pose_y"  default="0.0"/>
    <arg name="initial_pose_a"  default="0.0"/>

    <!-- TF坐标变换，基础参数 -->
    <arg name="global_frame_id" default="$(arg robot_name)/map" />
    <arg name="base_frame_id" default="$(arg robot_name)/base_link" />
    <arg name="odom_frame_id" default="$(arg robot_name)/odom" />

    <!-- map file -->
    <arg name="map" default="$(find qingzhou_mapping)/maps/racemap.yaml" />

    <!-- Rviz -->
    <arg name="use_rviz" default="true" />

    <group ns="$(arg robot_name)">
        
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" output="screen" >
            <param name="frame_id" value="$(arg robot_name)/map" />
            <remap from="/map"  to="$(arg map_topic)"/>
            
        </node>

        <param name="/robot_name/map" value="/$(arg robot_name)/map" />
        <param name="/robot_name/odom" value="/$(arg robot_name)/odom" />
        <param name="/robot_name/path" value="/$(arg robot_name)/path_planning_node/cleaning_plan_nodehandle/cleaning_path" />

        <node pkg="qingzhou_nav" type="path_planning_node" respawn="false" name="path_planning_node" output="screen" clear_params="true">
            <rosparam file="$(find qingzhou_nav)/config/costmap_common_params.yaml" command="load" ns="cleaning_costmap" />
            <rosparam file="$(find qingzhou_nav)/config/$(arg robot_name)_cleaning_costmap_params.yaml" command="load" />
        </node>
        
        <param name="/NextGoal/tolerance_goal" value="2.00" />
        <node pkg="qingzhou_nav" type="next_goal" respawn="true" name="next_goal" output="screen" >
        </node>
        
         <node pkg="qingzhou_nav" type="path_planning.py" name="path_planner" output="screen">
            <param name="robot_name" value="$(arg robot_name)" />
            <param name="plan_topic" value="$(arg plan_topic)" />
        </node>

        <node pkg="qingzhou_nav" type="path_tracking.py" name="path_tracker" output="screen">
            <param name="robot_name" value="$(arg robot_name)" />
            <param name="plan_topic" value="$(arg plan_topic)" />
        </node>
        <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find qingzhou_nav)/rviz/$(arg robot_name)_nav.rviz -f $(arg global_frame_id)" >
            <remap from="/move_base_simple/goal" to="move_base_simple/goal"/>
            <remap from="/initialpose" to="initialpose"/>
        </node>

    </group>
  
</launch>


